  @font-face {
    font-family: 'tetris2';
    src: local("../fonts/Tetris2.ttf");
    font-family: 'tetris3';
    src: local('tetrominoes');
  }
  @font-face {
    font-family: 'tetris4';
    src: local('Walk Around the Block'); 
  }
   

  * {
    box-sizing: border-box;
  }

   html {
    height: 100%;
    width: 100%;
  } 

  body {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #BDBCB7;
    border: 18px solid transparent;
    border-image: url('../img/borders.jpg') 10% round;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    list-style-position: outside;
  }

  .scorestyle {
    font-family: tetris4;
  }

  .box {
    width: 100%;
    height: 100%;
    background: url('./../img/back1.png') center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .upcomingShapeCol {
    background: linear-gradient(to right, cyan, royalblue, magenta, mistyrose, forestgreen, khaki);
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
  }

  .play {
    border: 1px solid;
    border-top: none;
    display: inline-block;
  }

  .cell {
    width: 25.5px;
    height: 25.5px;
    border: 1px outset lightslategray;
  }

  .scorestyle {
    font-family: tetris4;
    color: gold;
    font-size: x-large;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }

  .shapesty {
    font-family: tetris2;
    color: gold;
    font-size: x-large;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }

  .genome {
    font-family: tetris2;
    word-wrap: break-word;
  }

  .speedScore {
    font-family: tetris2;
    color: gold;
    font-size: 150%;
    width: 100%;
    word-wrap: break-word;
  }

  .movesScore {
    font-family: tetris2;
    color: gold;
    font-size: 145%;
    width: 91%;
    word-wrap: break-word;
  }

  .title {
    font-family: tetris3;
    font-size: xx-large;
    color: cyan;
    text-align: center;
  }

  .subtitle {
    color: lightcyan;
    font-family: tetris3;
    font-size: large;
    text-align: center;
  }

  .genome {
    margin-top: 10px;
    font-size: 70%;
  }

  .infoHeader {
    text-justify: newspaper;
    color: pink;
    font-size: xx-large;
  }

  .bodyInfo {
    text-align: justify;
    font-size: 55%;
  }

  #li1 {
    color: cornflowerblue;
  }

  #li2 {
    color: seagreen;
  }

  #li3 {
    color: magenta;
  }

  #li4 {
    color: palegoldenrod;
  }

  #li5 {
    color: limegreen;
  }

  #li6 {
    color: deepskyblue;
  }

  #li7 {
    color: deeppink;
  }

  #li8 {
    color: lightslategray;
  }

  #li9 {
    color: cyan;
  }

  #li10 {
    color: firebrick;
  }

  #output {
    width: 40%;
    border: 1px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #score {
    display: flex;
    flex-direction: column;
    float: left;
    width: 30%;
    border: 10px solid transparent;
  }

  #instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 50px;
    padding-top: 2%;
    width: 30%;
    color: pink;
    font-family: tetris2;
    font-size: xx-large;
    text-justify: auto;
    border: 10px solid transparent;
  }